<br><br>


<div class="container">
    <div class="text-center">
        <button class="btn btn-lg btn-primary"><a [routerLink]="['/list_returnmoney_snowbank']" style="color: white;">LIST GAME'S CHANGER DISBURSED</a> </button>
    </div>
  <br>
  <div class="row">
    <div class="col-md-4">

      <div class="card">
        <input type="text"  class="form-control" placeholder="Search . . ." />
        <table class="table table-bordered row-border hover display text-nowrap">
          <thead>
            <tr>
              <th scope="col" style="width: 10px;">Photo</th>
              <th scope="col" style="width: 20px;">Name</th>
              <th scope="col" style="width: 10px;">Choose</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let snowbank of snowbanks ">
              <td><img src="{{ snowbankPicture+snowbank.fileName }}" class="image" /></td>
              <td><b>
                  <p class="btn-sm" [ngStyle]="{'background-color':getColor(snowbank.id)}">
                    {{snowbank.customerName}}</p>
                </b> </td>
              <td> <button [ngStyle]="{'background-color':getColor(snowbank.id)}" class="btn btn-success btn-sm"
                  (click)="selectedSnowbank(snowbank.id)">click to add</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <form #snowbankForm="ngForm" autocomplete="off">
        <div class="card">
          <div class="card-header">
            <div class="card-title text-center">
             ADD TED CONFERENCE DISBURSED MONEY
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="hidden" class="form-control" id="id" [(ngModel)]="snowbank.id" name="id">
            </div>



            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Purpose</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="purpose" [(ngModel)]="snowbank.purpose" ngModel>
                </div>
              </div>
            </div>



            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Disbursed Amount</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="returnAmount" [(ngModel)]="snowbank.returnAmount"
                    ngModel>
                </div>
              </div>
            </div>


            <div class="col-md-8">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-7">
                    <label>Disbursed Date</label>
                  </div>
                  <div class="col-md-5">
                    <input class="pickdate" type="date" name="returnDate" [(ngModel)]="snowbank.returnDate">
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-success" (click)="addReturnMoney(snowbank)"
                      [disabled]="!snowbankForm.valid">Submit</button>
                  </div>
                </div>
              </div>



              <div class="col-md-8">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-7">
                    </div>
                
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>