<div class="container">
  <div class="row">
    <div class="col-md-2"></div>


    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <button type="button" class="btn btn-primary btn-sm"><a routerLink="/list_guest"> <span
            style="color: white;">
            LIST GUESTS</span> </a> 
          </button>
        </div>
        <div class="card-body">
          <form id="formupdateGuest" name="formupdateGuest" #guestUpdateForm="ngForm">


            <div class="form-group">
              <div class="row">
                <label class="col-md-3">Full Name</label>
                <div class="col-md-9">
                  <input type="text" name="fullName" [(ngModel)]="guestObject.fullName" class="form-control">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-3"> Email</label>
                    <div class="col-md-9">
                      <input type="text" name="email" [(ngModel)]="guestObject.email" ngModel class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <label>Ph No:</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" name="phoneNumber" [(ngModel)]="guestObject.phoneNumber" ngModel class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label for="gender">
                        gender
                      </label>
                    </div>
                    <div class="col-md-7">
                      <select class="drops" name="gender" id="gender" [(ngModel)]="guestObject.gender" ngModel class="form-control">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label for="highestEdu">
                        Highest Degree
                      </label>
                    </div>
                    <div class="col-md-7">
                      <select class="drops" name="highestDegree" id="highestDegree" [(ngModel)]="guestObject.highestDegree" ngModel
                        class="form-control">
                        <option value="belowten">Below Ten</option>
                        <option value="tenth">Tenth</option>
                        <option value="twelve">Twelvth</option>
                        <option value="batchlor">Batchlor</option>
                        <option value="master">Master</option>
                        <option value="Phd">PHD</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>topicToSpeck</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="topicToSpeck" name="topicToSpeck"
                        [(ngModel)]="guestObject.topicToSpeck"  class="form-control">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-5">
                    <label>Speaking Date </label>
                  </div>
                  <div class="col-md-7">
                    <input class="pickdate" type="date" name="speakingDate" name="speakingDate"
                      [(ngModel)]="guestObject.speakingDate" ngModel class="form-control">
                  </div>
                </div>
              </div>
            </div>




            <div class="form-group">
              <textarea class="form-control" rows="5" id="bioguestObject" [(ngModel)]="guestObject.bioguestObject" name="bioguestObject">
                   </textarea>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="category">
                        Categories
                      </label>
                    </div>
                    <div class="col-md-8">
                      <select class="drops" name="categore1" id="categore1" [(ngModel)]="guestObject.categore1"
                        formControlName="categore1">
                        <option *ngFor="let cate of categories " [value]="cate.id">
                          {{cate.name}}
                        </option>
                        <option value="">Incubation</option>
                        <option value="">Financial Award</option>
                      </select>
                    </div>
                  </div>
                </div> -->
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)"
                    style="height:100%" name="fileName" [(ngModel)]="guestObject.fileName">
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-5">
                <input class="btn btn-lg btn-primary" type="submit" (click)="updateGuestForm()" value="Update">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  
  </div>
</div>