
body{
    margin-top: 8px;
  
}

.card {
   background-color: rgb(121, 216, 211);
}

.deletecolr {
    color: red;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
}
.editedhead {
    color:blue;
    font-size: 15px;
    text-align: center;
}


.updateheads {
    color: blue;
   
}

.updatecolre {
    color: rgb(9, 9, 218);
}
