
<body>
    <!-- <div class="row" style="margin-top:15px; margin-bottom:15px;">
        <div class="col-md-6 offset-3">
            <input type="text" [(ngModel)]="searchEvent" class="form-control" style="width: 100%;"
                placeholder="Search here...">
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12"
            *ngFor="let guest of guests ">
            <div class="card">
                <img src="{{guestFile+guest.fileName }}" class="img-responsive img-thumbnail"
                    alt="Cinque Terre">
                <div class="card-header text-center">
                    <a [routerLink]="['/detail_guest', guest.id]"> <span
                            class="btn btn-outline-primary">{{guest.fullName}}</span> </a>
                </div>
            </div>
        </div>
    </div>

</body>