<body>
        <main>
          <div class="section-2">
            <div class="container-fluid">
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-column text-center">
                  <h1 class="heading-1">TIBETAN ENTREPRENEURSHIP DEVELOPMENT</h1>
                  <p class="para">Millioner and Billioner start their business from tiny!!! </p>
                </div>
              </div>
            </div>
          </div>
      
      
          <div class="section-3">
            <div class="container">
      
              <div class="row m-2">
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-seedling fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">Pre-Incubation</h3>
                      <p class="m-2">
                        The Pre-Incubation program is a customized program designed to provide first hand entrepreneurship development training for aspiring entrepreneurs with a business idea or a recent startup (less than one year) who need assistance developing a business plan. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-user-shield fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2"> Investment Award</h3>
                      <p class="m-2">
                        competition takes place during the conference. The competition provides burgeoning entrepreneurs an opportunity to pitch their business to a panel of investors and industry experts for a chance to receive startup funding. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-seedling fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">Entrepreneur Hub</h3>
                      <p class="m-2">
                        The Entrepreneurship-Hub program is a customized program designed to provide first hand entrepreneurship development financial support for aspiring entrepreneurs with a business idea  who need assistance developing a business plan.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
      
      
              <div class="row">
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-rocket fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">Business Acceleration</h3>
                      <p class="m-2">
                          CTA act as A business accelerator  gives developing companies access to mentorship, investors and other support that help to become stable, self-sufficient businesses.
                      </p>
                    </div>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-search fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">Skill To Enterprise</h3>
                      <p class="m-2">
                          Enterprise skills are sought to build business in a way of creative, innovative mode and solving the problem, working independently regardless level of education to achieve the successful business.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-sliders-h fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">TED Conference</h3>
                      <p class="m-2">
                        TED Conference is a platform for Tibetan entrepreneurs to network, collaborate, and innovate. The annual conference provides Tibetan entrepreneurs an opportunity to gain insights and connect with business leaders, investors, and industry experts.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      
          <div class="section-4 bg-dark">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <img src="/../../assets/images/coreraward.webp" alt="Image-7" width="590">
                </div>
                <div class="col-md-5">
                  <h1 class="text-white">The Tibet Innovations in collaboration with TED </h1>
                  <a href="">1 crore to Padma Jewels</a>
                  <p class="para-1">
                      President Dr Lobsang Sangay announcing the recipient of YETI Grand Challenge 2019. (From L-R) Finance Secretary Yeshi Wangmo, Finance Kalon Karma Yeshi, CTA President Dr. Lobsang Sangay, Director of Tibet Innovations Thubten Samdup  and 
                      Executive Program Officer Wangyal.
                  </p>
                </div>
              </div>
            </div>
          </div>
      
          <footer>
            <div class="section-5 text-center">
      

              <!-- <div class="form-inline justify-content-center">
                <input type="text" name="Email" id="email" placeholder="email" size="40" class="form-control px-4 py-2">
                <input type="button" value="contact us" class="btn btn-danger px-4 py-2">
              </div> -->
      
              <div class="social" style="margin:5%;">
                <!-- <div class="d-flex flex-row justify-content-center">
                  <i class="fab fa-facebook-f m-2"></i>
                  <i class="fab fa-twitter m-2"></i>
                  <i class="fab fa-instagram m-2"></i>
                  <i class="fab fa-youtube m-2"></i>
                </div> -->
              </div>
      
              <hr>
              <h5 style="color: lightseagreen">Thonglam&copy;</h5>
            </div>
          </footer>
      
        </main>
    
      
      </body>