<br><br>
<div class="container">
  <div class="text-center">
    <button class="btn btn-success"><a routerLink="/list_ste_allocate"  style="color: white;">LIST STE ALLOCATE</a></button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <input type="text" [(ngModel)]="searchste" class="form-control" placeholder="Search . . ." />
        <table class="table table-bordered row-border hover display text-nowrap">
            <thead>
              <tr>
                <th scope="col" style="width:10px;">Photo</th>
                <th scope="col" style="width:10px;">Name</th>
                <th scope="col" style="width:10px;">Choose</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ste of stes | ste:searchste">
               <td>
                  <img src="{{ steFile+ste.fileName }}" class="image" />
              <td>
                <b>
                  <p class="btn-ms" [ngStyle]="{'background-color': getColor(ste.id)}">
                    {{ste.steName}}
                  </p>
                </b>
              </td>
              <td>
                <button [ngStyle]="{'background-color': getColor(ste.id)}" class="btn btn-success btn-sm"
                (click)="selectedSte(ste.id)" >
                 click to add
                </button>
              </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

  

       <div class="col-md-6">
         <form #steFinanceForm="ngForm" autocomplete="off">
           <div class="card">
             <div class="card-header">
               <div class="card-title text-center">
                 Add STE ALLOCATION
               </div>
             </div>
             <div class="card-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" [(ngModel)]="finance.id" name="id">
                  </div>

                 
            <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Purpose</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="purpose" [(ngModel)]="finance.purpose" ngModel>
                  </div>
                </div>
              </div>
  


              
            <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Allocate Amount</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="allocatedAmount" [(ngModel)]="finance.allocatedAmount"
                      ngModel>
                  </div>
                </div>
              </div>
  


              <div class="col-md-8">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-7">
                        <label>Allocate Date</label>
                      </div>
                      <div class="col-md-5">
                        <input class="pickdate" type="date" name="allocatedDate" [(ngModel)]="finance.allocatedDate" ngModel>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Description</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="description" [(ngModel)]="finance.description" ngModel>
                      </div>
                    </div>
                  </div>
      

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-success" (click)="addSteAllocate(finance)"
                            [disabled]="!steFinanceForm.valid">Submit</button>
                        </div>
                      </div>
                    </div>
      
      
      
                  </div>


             </div>
           </div>
         </form>
       </div>


  </div>
</div>