<body>
    <div class="card">
        <br>
        <div style="text-align: center;">
            <a [routerLink]="['/list_snowbank']"><button class="btn btn-primary">  TED Conference detail </button> </a>
          </div>
          
      <div class="card-body">
  
        <div class="row">
          <div class="col-md-3" data-spy="scroll" data-target="scrolldata" data-offset="5">
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-12">
                <input type="text" [(ngModel)]="searchText" class="form-control" 
                  placeholder="search customer. . .">
              </div>
            </div>
  
            <hr>
            <div style="text-align: center" class="col-md-12" class="scrolldata"
              *ngFor="let snowbank of snowbanks | snowbank:searchText">
              <div class="col-md-6">
                <a [routerLink]="['/detail_snowbank', snowbank.id]" (click)="refresh(data.id)"><img
                    src="{{snowbank_IMAGE+snowbank.fileName }}" class="sideimage" alt="Cinque Terre"></a>
              </div>
              <div class="col-md-6">
                <p>{{snowbank.customerName}}</p>
              </div>
              <hr>
            </div>
          </div>
  
  
          <div class="col-md-9">
            <div class="jumbotron">
              <div class="col-md-12" style="text-align: center">
                <div class="text-center">
                  <h3>
                    <p> <b>{{data.title}} {{data.customerName}}</b></p>
                  </h3>
                </div>
                <img src="{{snowbank_IMAGE+data.fileName }}" class="image" alt="Cinque Terre">
              </div>
              <hr>
  
  
              <div class="row">
                <div class="col-md-5">
                    <label> <b> EMAIL : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.email}}</p>
                </div>
              </div>
              <hr>
  
  
              <div class="row">
                <div class="col-md-5">
                    <label> <b> PHONE NUMBER : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.phoneNumber}}</p>
                </div>
              </div>
              <hr>
  
  
              <div class="row">
                <div class="col-md-5">
                    <label> <b> BUSINESS NAME : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.businessName}}</p>
                </div>
              </div>
              <hr>
  
  
  
              <div class="row">
                <div class="col-md-5">
                  <label> <b> ACCOUNT HOLDER NAME : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.accountHolderName}}</p>
                </div>
              </div>
              <hr>
  
  
  
              <div class="row">
                <div class="col-md-5">
                  <label> <b> ACCOUNT NUMBER : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.accountNumber}}</p>
                </div>
              </div>
  
              <hr>
  
  
  
  
              <div class="row">
                <div class="col-md-5">
                  <label> <b> IFSC CODE : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.ifscCode}}</p>
                </div>
              </div>
              <hr>
  
              <div class="row">
                <div class="col-md-5">
                  <label> <b>TOTAL LENDED: </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.lendAmount}}</p>
                </div>
              </div>
              <hr>
  
              <div class="row">
                <div class="col-md-5">
                  <label> <b> TOTAL RETURNED : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.totalReturned}}</p>
                </div>
              </div>
              <hr>
  
  
  
              <div class="row">
                <div class="col-md-5">
                    <label> <b> ADDRESS : </b></label>
                </div>
                <div class="col-md-7">
                  <p>{{data.address}}</p>
                </div>
              </div>
  
            </div>
  
  
            <div class="text-center">
              <h5><b> <button class="btn btn-primary btn-lg">Brief about {{data.title}} {{data.customerName}} </button>
                </b></h5>
            </div>
            <hr>
            <div class="d-flex flex-row">
              <cdk-virtual-scroll-viewport itemSize="200" class="briefview">
                <mat-card>
                  <mat-card-title>{{data.briefIntroduction}}</mat-card-title>
                </mat-card>
              </cdk-virtual-scroll-viewport>
            </div>
  
  
            <br>
            <br>
  
            <div class="text-center">
              <h5><b> <button class="btn btn-primary btn-lg">Detail about {{data.title}} {{data.customerName}}'s
                    {{data.businessName}} Business </button> </b></h5>
            </div>
            <hr>
            <div class="d-flex flex-row">
              <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
                <mat-card>
                  <mat-card-title>{{data.about}}</mat-card-title>
                </mat-card>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
          <hr>
          <hr>
        </div>
      </div>
    </div>
  </body>