<div class="container">
<br>
<br>

    <div style="text-align: center;">
     <button class="btn btn-primary btn-ld"> USER DASH BOARD</button>
    </div>

<br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>USER NAME</th>
        <th>EMAIL</th>
        <th>PHONE NUMBER</th>
        <th>ROLE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.role}}</td>
      </tr>

    </tbody>
  </table>


</div>