<body>
  <div class="card">
    <br>
    <div style="text-align: center;">
      <a [routerLink]="['/list_pre_incubation']"><button class="btn btn-primary"> LIST PRE-INCUBATION </button> </a>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-3" data-spy="scroll" data-target=".scrolldata" data-offset="5">
          <div class="row" style="margin-bottom:15px;">
            <div class="col-md-12">
              <input type="text" [(ngModel)]="searchText" class="form-control" style="width: 100%;"
                placeholder="Search pre-incubation. . .">
            </div>
          </div>

          <hr>
          <div style="text-align: center" class="col-md-12" class="scrolldata"
            *ngFor="let entrepreneur of entrepreneurs | entrepreneur:searchText">
            <div class="col-md-6">
              <a [routerLink]="['/detail_Entrepreneur', entrepreneur.id]" (click)="refresh(data.id)"><img
                  src="{{Entrepreneur_IMAGE+entrepreneur.fileName }}" class="sideimage" alt="Cinque Terre"></a>
            </div>
            <div class="col-md-6">
              <p>{{entrepreneur.entrepreneurName}}</p>
            </div>
            <hr>
          </div>
        </div>


        <div class="col-md-9">
          <div class="jumbotron">
            <div class="col-md-12" style="text-align: center">
              <div class="text-center">
                <h3>
                  <p> <b>{{data.title}} {{data.entrepreneurName}}</b></p>
                </h3>
              </div>
              <img src="{{Entrepreneur_IMAGE+data.fileName }}" class="image" alt="Cinque Terre">
            </div>
            <hr>


            <div class="row">
              <div class="col-md-5">
                <label> <b> EMAIL : </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.email}}</p>
              </div>
            </div>
            <hr>


            <div class="row">
              <div class="col-md-5">
                <label> <b> PHONE NUMBER : </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.phoneNumber}}</p>
              </div>
            </div>
            <hr>


            <div class="row">
              <div class="col-md-5">
                <label> <b> BUSINESS NAME : </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.businessName}}</p>
              </div>
            </div>
            <hr>




            <div class="row">
              <div class="col-md-5">
                <label> <b>TOTAL ALLOCATED: </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.allocatedAmount}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-5">
                <label> <b> TOTAL DISBURSED : </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.totalDisbursed}}</p>
              </div>
            </div>
            <hr>



            <div class="row">
              <div class="col-md-5">
                <label> <b> ADDRESS : </b></label>
              </div>
              <div class="col-md-7">
                <p>{{data.address}}</p>
              </div>
            </div>

          </div>


          <div class="text-center">
            <h5><b> <button class="btn btn-primary btn-lg">Brief about {{data.title}} {{data.entrepreneurName}}
                </button>
              </b></h5>
          </div>
          <hr>
          <div class="d-flex flex-row">
            <cdk-virtual-scroll-viewport itemSize="200" class="briefview">
              <mat-card>
                <mat-card-title>{{data.briefIntroduction}}</mat-card-title>
              </mat-card>
            </cdk-virtual-scroll-viewport>
          </div>


          <br>
          <br>

          <div class="text-center">
            <h5><b> <button class="btn btn-primary btn-lg">Detail about {{data.title}} {{data.entrepreneurName}}'s
                  {{data.businessName}} Business </button> </b></h5>
          </div>
          <hr>
          <div class="d-flex flex-row">
            <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
              <mat-card>
                <mat-card-title>{{data.about}}</mat-card-title>
              </mat-card>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
        <hr>
        <hr>
      </div>
    </div>
  </div>
</body>