
<body>
  <div class="text-center">
    <button type="button" class="btn btn-primary"><a routerLink="/add_pre_incubation"> <span style="color: white;"> ADD NEW PRE-INCUBATION
          </span></a></button>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-bordered row-border hover display text-nowrap">
    <thead>

      <tr>
        <th scope="col">PHOTO</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE NO</th>
        <th scope="col">GENDER</th>
        <th scope="col">BUSINESSNAME</th>
        <th scope="col">ALLOCATED</th>
        <th scope="col">PENDING</th>
        <th scope="col">DISBURSED</th>
        <th scope="col" class="updateheads">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entrepreneur of entrepreneurs">
        <td>
          <img src="{{ IMAGE_URL+entrepreneur.fileName }}" class="image" />
        </td>
        <td>  <a [routerLink]="['/detail_Entrepreneur', entrepreneur.id]"> <span>{{entrepreneur.entrepreneurName}}</span> </a></td>
        <td>{{entrepreneur.email}}</td>
        <td>{{entrepreneur.phoneNumber}}</td>
        <td>{{entrepreneur.gender}}</td>
        <td>{{entrepreneur.businessName}}</td>
        <td> <a><button type="button" class="btn btn-primary" [routerLink]="['/list_incubation_allocate']"
          class="updatecolre">{{entrepreneur.allocatedAmount | currency: 'INR':'symbol-narrow':'.2'}} </button></a>
        </td>
        <td style="color:red;"> 
         <b>  {{entrepreneur.allocatedAmount - entrepreneur.totalDisbursed }}</b>
        </td>
        <td> <a><button type="button" class="btn btn-primary" [routerLink]="['/list_finance']"
          class="updatecolre">{{entrepreneur.totalDisbursed | currency: 'INR':'symbol-narrow':'.2'}} </button></a>
        </td>
        <td>
          <a><button type="button" class="btn btn-primary" [routerLink]="['/update_pre_incubation', entrepreneur.id]"
              class="updatecolre"><i class="fas fa-edit"></i> </button></a>
          <a><button type="button" class="btn btn-danger" (click)="deleteentrepreneur(entrepreneur.id)"
              class="deletecolr"><i class="fas fa-trash-alt"></i></button></a>
        </td>

      </tr>

    </tbody>
  </table>

</body>