<br>
<div class="container">
  <div class="text-center">
    <button class="btn btn-lg btn-primary"><a [routerLink]="['/list_investment']" style="color: white;">FINANCIAL LIST OF INVESTMENT</a> </button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <input type="text" [(ngModel)]="searchinvestment" class="form-control" placeholder="search...">
        <table class="table table-bordered row-border hover display text-nowrap">
          <thead>
            <tr>
              <th scope="col" style="width: 10px;">Photo</th>
              <th scope="col" style="width: 20px;">Name</th>
              <th scope="col" style="width: 10px;">Choose</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let investment of investments | investment:searchinvestment ">
              <td><img src="{{ investmentPicture+investment.fileName }}" class="image" /></td>
              <td><b>
                  <p class="btn-sm" [ngStyle]="{'background-color':getColor(investment.id)}">
                    {{investment.investmentName}}</p>
                </b> </td>
              <td> <button [ngStyle]="{'background-color':getColor(investment.id)}" class="btn btn-primary btn-sm"
                  (click)="getFinanceOfInvestment(investment.id)">show</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


   
    <div class="col-md-6">
        <div class="card">
            <table class="table table-bordered row-border hover display text-nowrap">

                <thead>
                    <tr>
                        <th scope="col">Purpose</th>
                        <th scope="col">Allocated Amount</th>
                        <th scope="col">Allocated Date</th>
                        <th scope="col" class="updateheads">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let allotfinance of investmentAllocates">
                        <td>{{allotfinance.purpose}}</td>
                        <td>{{allotfinance.allocatedAmount}}</td>
                        <td>{{allotfinance.allocateDate | date :  "dd-MM-y" }}</td>
                        <td>
                            <a><button type="button" class="btn btn-primary"
                                    [routerLink]="['/update_investment_allocate', allotfinance.id]"
                                    class="updatecolre"><i class="fas fa-edit"></i> </button></a>
                            <a><button type="button" class="btn btn-danger"
                                    (click)="deleteinvestmentallocate(allotfinance.id)" class="deletecolr"><i
                                        class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Total Allocated</th>
                        <th>{{allocatedsum}}</th>
                        <th>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary btn-sm"><a
                                    [routerLink]="['/create_investment_allocate']"
                                    style="color: white;">add</a></button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

    </div>

    <div class="col-md-2"></div>
</div>
</div>